*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
 
body{
    background:linear-gradient(135deg,#dff6ff,#f6f9fc);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}
 
.container{
    width:100%;
    max-width:700px;
    background:#ffffff;
    padding:20px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(236, 170, 170, 0.2);
}
 
h1{
    text-align:center;
    color:#4ac5b6;
    margin-bottom:10px;
}
 
h2{
    text-align:center;
    color:#e08585;
    margin-bottom:25px;
    font-size:22px;
}
 
fieldset{
    border:1px solid #009688;
    border-radius:10px;
    padding:20px;
    margin-bottom:25px;
}
 
legend{
    font-weight:bold;
    color:#96dbd3;
    padding:0 10px;
}
 
label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}
input[type="text"],
input[type="email"],
input[type="number"],select,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #bbb;
    border-radius:6px;
    font-size:16px;
    transition:.3s;
}
input:focus,
select:focus,
textarea:focus{
    outline:none;
    border-color:#009688;
    box-shadow:0 0 8px rgba(172, 203, 200, 0.4);
}
 
.radio-group{
    display:flex;
    gap:25px;
    margin-top:10px;
}
 
.radio-group label{
    margin:0;
    font-weight:normal;
}
 
.food-list{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:13px;
    margin-top:15px;
}
 
.food-list label{
    display:flex;
    align-items:center;
    gap:8px;
    background:#f5f5f5;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
    border:1px solid #ddd;
}
 
.food-list label:hover{
    background:#009688;
    color:white;
    transform:scale(1.03);
}
 
.food-list input{
    transform:scale(1.2);
}
 
textarea{
    resize:vertical;
}
 
button{
    width:100%;
    padding:14px;
    background:#da8a12;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}
 
button:hover{
    background:#3bd7c5;
}
 
.error{
    display:block;
    color:red;
    font-size:14px;
    margin-top:4px;
    min-height:18px;
}
 
#result{
    margin-top:30px;
    background:#e8f5e9;
    border-left:6px solid rgb(28, 228, 28);
    padding:20px;
    border-radius:8px;
    display:none;
    line-height:1.8;
}
 
#result h3{
    color:rgb(21, 90, 193);
    margin-bottom:10px;
}
 
#result ul{
    margin-left:20px;
}